
.dls-tabstrip-navigaion-wrapper {
  position: relative;
}

.k-tabstrip-items {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(88px,200px);
  overflow: hidden;
  padding-left: 88px;
}
  

.k-tabstrip {
  width: 100%;
}

.k-tabstrip-items li:first-child {
  width: 86px;
  position: absolute;
  z-index: 10000;
  background-color:gray;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1000;
  background-color: indigo;
}

.arrow-left {
  left: 90px;
  z-index: 1000;
}

.arrow-right {
  right: 9px;
  
  z-index: 1000;
}